@import "src/styles/input.scss";
@import "src/styles/buttons.scss";
@import "src/styles/typography.scss";
.box {
    width: 100%;
    padding: 2%;
}

.wrapper {
    padding: 1%;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 20px;
}

.header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.content {
    grid-column-end: 2;
}

.table-classifica {
    grid-column-end: 3;
}

table {
    width: 100%;
}

.mioRisultato {
    color: #fff;
}

.primo {
    color: #fff;
    border-bottom: 2px solid #e7b41a;
}

.secondo {
    color: #fff;
    border-bottom: 2px solid #CECECE;
}

.terzo {
    color: #fff;
    border-bottom: 2px solid #cd7f32;
}

.table-mioRisultato {
    td:nth-child(even) {
        color: #BB86FC;
        text-align: left;
    }
    td:nth-child(odd) {
        padding-left: 0;
    }
}

thead {
    padding-left: 0;
    color: #fff;
    text-transform: uppercase;
}

.primary-button {
    margin-top: 20px;
}

a {
    color: #BB86FC;
}

@media (max-width: 1200px) {}