@import "src/styles/input.scss";
@import "src/styles/buttons.scss";
@import "src/styles/typography.scss";
.table-classifica {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    grid-column-end: 3;
}

.box {
    width: 100%;
    padding: 2%;
}

.wrapper {
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    gap: 2%;
}

.content {
    grid-column-end: 2;
}

.mioRisultato {
    color: #fff;
    background-color: #8C52FF;
}

.primo {
    color: #fff;
    background-color: #e7b41a;
}

.secondo {
    color: #fff;
    background-color: #CECECE;
}

.terzo {
    color: #fff;
    background-color: #cd7f32;
}

.stacco-podio {
    padding-top: 30px;
}

thead {
    background-color: #8C52FF;
    color: #fff;
    text-transform: uppercase;
}

.btn-submit {
    margin-top: 20px;
}