<div class="box">
    <div class="wrapper">
        <div class="header">
            <button class="btn primary-button" (click)="genera();">mostra classifica</button>
        </div>
        <div class="content">
            <div class="text">
                <p>
                    <ng-container *ngFor="let class of classifica | async ; let i = index">
                        <ng-container *ngIf="class.idUtente == 0">
                            <table class="table-mioRisultato">
                                <thead>
                                    <tr>
                                        <th colspan="2">{{utente}}</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>posizione</td>
                                    <td><button class="btn primary-button">{{i+1}}</button></td>
                                </tr>
                                <tr>
                                    <td>punteggio</td>
                                    <td><button class="btn primary-button">{{class.punteggio}}</button></td>
                                </tr>
                            </table>

                            <br>

                            <div *ngIf="i+1 == 1 || i+1 == 2 || i+1 == 3 ; else looser">
                                <span>complimenti, hai vinto!</span>

                            </div>
                            <ng-template #looser>
                                <span>ci dispiace, non hai vinto!</span>
                            </ng-template>
                        </ng-container>
                    </ng-container>
                </p>

                <p>
                    Torna alla home per vedere la classifica globale aggiornata. <br> Iscriviti ad un nuovo torneo e sfida i tuoi amici per <br> ottenere il punteggio più alto. <br>
                    <a [routerLink]="home">Clicca qui per tornare alla home</a>
                </p>
            </div>

        </div>

        <div class="table-classifica">
            <div class="text">
                <table>
                    <thead>
                        <tr>
                            <th>posizione</th>
                            <th>player</th>
                            <th>punteggio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let class of classifica | async ; let i = index">
                            <tr [ngSwitch]="i" [ngClass]="{'mioRisultato' : class.idUtente==0}">

                                <ng-container *ngSwitchCase="0">
                                    <td class="primo">{{i+1}}°</td>
                                    <td class="primo" *ngIf="class.idUtente == 0">{{utente}}</td>
                                    <td class="primo" *ngIf="class.idUtente != 0">{{class.idUtente}}</td>
                                    <td class="primo">{{class.punteggio}}</td>
                                </ng-container>

                                <ng-container *ngSwitchCase="1">
                                    <td class="secondo">{{i+1}}°</td>
                                    <td class="secondo" *ngIf="class.idUtente == 0">{{utente}}</td>
                                    <td class="secondo" *ngIf="class.idUtente != 0">{{class.idUtente}}</td>
                                    <td class="secondo">{{class.punteggio}}</td>
                                </ng-container>

                                <ng-container *ngSwitchCase="2">
                                    <td class="terzo">{{i+1}}°</td>
                                    <td class="terzo" *ngIf="class.idUtente == 0">{{utente}}</td>
                                    <td class="terzo" *ngIf="class.idUtente != 0">{{class.idUtente}}</td>
                                    <td class="terzo">{{class.punteggio}}</td>
                                </ng-container>

                                <ng-container *ngSwitchDefault>
                                    <td id="other" *ngIf="class.idUtente == 0">{{i+1}}°</td>
                                    <td id="other" *ngIf="class.idUtente == 0">{{utente}}</td>
                                    <td *ngIf="class.idUtente == 0">{{class.punteggio}}</td>
                                </ng-container>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>