<section class="box bg-grey">
    <div class="header">
        <div class="container">
            <div class="row flex-column flex-md-row justify-content-center align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="title">
                        <span class="sub">T</span>ornei
                    </div>
                    <div class="content mb-3">
                        Questa è la pagina di <span class="primary-text">elenco</span> dei tornei online al momento.
                        <br> Qui potrai <span class="primary-text">iscriverti</span> e <span
                            class="primary-text">giocare</span> a tutti i tornei disponibili.
                        Inoltre
                        potrai vedere il <span class="primary-text">dettaglio</span> di ognuno di essi.
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3 mt-lg-0" data-aos="flip-up">
                    <div class="row d-flex justify-content-center justify-content-lg-end">
                        <div class="col-8 colo-lg-6">


                            <div class="card-recap mb-1">
                                <div class="count">{{countTornei}}</div>
                                <div class="lbl">Online</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ng-template #dettaglioGlobale let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Dettaglio globale</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true" id="span-close">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngFor="let class of classificaGlobale | async">
                <ng-container *ngIf="class.idPlayer == idPlayerPassato">
                    <table class="table-globale">
                        <tr>
                            <td colspan="2"><span class="bolder">{{usernameUtentePassato}}</span></td>
                        </tr>
                        <tr>
                            <td>Punteggio totale</td>
                            <td><button class="btn primary-button">{{class.punteggioTotale}}</button></td>
                        </tr>
                        <tr>
                            <td>Media punti x torneo</td>
                            <td><button class="btn primary-button">{{class.mediaPunteggio}}</button></td>
                        </tr>
                        <tr>
                            <td>Partite giocate</td>
                            <td><button class="btn primary-button">{{class.partiteGiocate}}</button></td>
                        </tr>
                        <tr>
                            <td>Tornei giocati</td>
                            <td><button class="btn primary-button">{{class.torneiGiocati}}</button></td>
                        </tr>
                        <tr>
                            <td>Vittorie</td>
                            <td><button class="btn primary-button">{{class.vittorie}}</button></td>
                        </tr>
                    </table>
                </ng-container>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.dismiss('Close click')" ngbAutofocus>
                chiudi
            </button>
        </div>
    </ng-template>
</section>
<section class="bg-white" *ngIf="arrayTornei && arrayTornei.length > 0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex justify-content-center mb-3">
                        <i class="fas fa-list mr-3" (click)="mostraOpzioni()"
                            [ngClass]="mostraList ? 'vis-attiva' : 'vis-no-attiva' "></i>
                        <i class="fas fa-th" (click)="mostraOpzioni()"
                            [ngClass]="mostraGrid ? 'vis-attiva' : 'vis-no-attiva' "></i>
                    </div>
                    <div class="col-12">
                        <div class="col-12 d-flex justify-content-center flex-wrap">
                            <button class="filtro relative" *ngFor="let filtro of filtri"
                                [ngClass]="filtro.attivo == 1 ? 'filtro-attivo' : 'non-attivo' "
                                (click)="filtra(filtro)">
                                {{filtro.lbl}}
                                <span class="absolute badge bg-danger" *ngIf="filtro.attivo">
                                    {{arrayTornei.length}}
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <form [formGroup]="searchForm">
                            <div class="input-container search">
                                <input type="text" placeholder="Ex. Ps5" #input formControlName="termine"
                                    class="flex-grow-1">
                                <i class="bi bi-search icon" *ngIf="!ricerca"></i>
                                <i class="bi bi-x icon reset" *ngIf="ricerca" (click)="resetSearch()"></i>
                            </div>
                        </form>

                    </div>
                </div>




            </div>
        </div>
        <div class="row" *ngIf="mostraGrid">
            <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of sortedData">
                <div class="torneo border p-3 mt-3 mb-3">

                    <div class="header d-inline-flex justify-content-between w-100 mb-3">
                        <div class="nome">
                            {{item.nome}}
                        </div>
                        <div class="stato d-flex justify-content-evenly">
                            <img src="../../../../assets/images/info.png" alt="" class="state">
                            <img src="../../../../assets/images/pyramid1.png" alt="" class="state"
                                *ngIf="item.stato === 'PRONTO' ">
                            <img src="../../../../assets/images/pyramid2.png" alt="" class="state"
                                *ngIf="item.stato === 'CONCLUSO' ">
                            <img src="../../../../assets/images/pyramid3.png" alt="" class="state"
                                *ngIf="item.stato === 'IN CORSO' ">
                        </div>
                    </div>

                    <div class="item-body relative">
                        <div class="d-flex justify-content-between">
                            <div class="gioco">
                                <div class="info-lbl d-block">gioco</div>
                                {{item.gioco}}
                            </div>
                            <div class="platform text-right">
                                <div class="info-lbl d-block" d-block>piattaforma </div>
                                {{item.piattaforma}}
                            </div>
                        </div>

                        <div class="posti d-flex justify-content-between mt-3">
                            <div class="capienza">
                                <div class="info-lbl d-block">posti liberi</div>
                                <span class="liberi text-danger"
                                    *ngIf="item.postiLiberi == 0">{{item.postiLiberi}}</span>
                                <span class="liberi text-success"
                                    *ngIf="item.postiLiberi > 0">{{item.postiLiberi}}</span>
                            </div>
                            <div class="tot-iscrizioni text-right">
                                <div class="info-lbl d-block">iscrizioni</div>
                                {{item.iscrizioni}}/{{item.capienza}}
                            </div>
                        </div>

                    </div>

                    <button class="primary-btn btn" (click)="openModal(item)">iscriviti</button>

                </div>
            </div>
        </div>

        <div class="row" *ngIf="mostraList">
            <div class="col-12">

            </div>
            <div class="col-12 col-lg-8 p-0">
                <table matSort (matSortChange)="sortData($event)" class="list-table">
                    <tr>
                        <th mat-sort-header="nome">Nome</th>
                        <th mat-sort-header="gioco">Gioco</th>
                        <th mat-sort-header="piattaforma">Piattaforma</th>
                    </tr>

                    <tr *ngFor="let torneo of sortedData">
                        <td>{{torneo.nome}}</td>
                        <td>{{torneo.gioco}}</td>
                        <td>{{torneo.piattaforma}}</td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<ng-template #iscrivitiModal let-modal>

</ng-template>