<section class="box bg-grey">
    <div class="header">
        <div class="container">
            <div class="row flex-column flex-md-row justify-content-center align-items-center">
                <div class="col-12">
                    <div class="title">
                        <span class="sub">P</span>rofilo
                    </div>
                    <div class="content mb-3">
                        Ciao <span class="primary-text">{{currentUser.username}}</span>, questa è la pagina di <span
                            class="primary-text">profilo</span>. <br>
                        Qui potrai modificare le tue informazioni nonchè le credenziali di accesso. <br>
                        Mi raccomando, usa una password sicura!

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="box bg-white">
    <form [formGroup]="editaUtenteForm" (ngSubmit)="edita()">
        <div class="container">
            <div class="row justify-content-center mt-5">

                <div class="col-12 col-lg-6">
                    <div class="body relative">

                        <img src="../../../../assets/images/octologin.png" alt="" class="octo-bg">

                        <div class="container d-flex gap-2 flex-column">

                            <div class="d-flex flex-wrap gap-2">
                                <div class="input-container">
                                    <input type="text" formControlName="username" class="input-field" />
                                    <i class="bi bi-person-circle icon"></i>
                                </div>

                                <div class="input-container">
                                    <input [type]="passwordType" formControlName="password" class="input-field" />
                                    <ng-container *ngIf="toggled">
                                        <i class="bi bi-eye-fill icon" (click)="togglePassword()"></i>
                                    </ng-container>
                                    <ng-container *ngIf="!toggled">
                                        <i class="bi bi-eye-slash-fill icon" (click)="togglePassword()"></i>
                                    </ng-container>
                                </div>
                            </div>



                            <div class="d-flex flex-wrap gap-2">
                                <div class="input-container">
                                    <input type="text" formControlName="nome" class="input-field" />
                                </div>

                                <div class="input-container">
                                    <input type="text" formControlName="cognome" class="input-field" />
                                </div>

                            </div>



                            <div class="input-container">
                                <input type="text" formControlName="email" class="input-field" />
                                <i class="bi bi-at icon"></i>
                            </div>





                        </div>
                    </div>
                </div>


                <div class="col-12 col-lg-4 text-center mt-2 mt-lg-0">
                    <div class="container d-flex gap-2 flex-column justify-content-center">
                        <div class="input-container">
                            <div class="select-dropdown">
                                <select name="avatar" id="avatar" class="select-avatar" formControlName="coloreavatar"
                                    [ngStyle]="{'color': editaUtenteForm.value.coloreavatar}">
                                    <option value="red">Rosso</option>
                                    <option value="green">Verde</option>
                                    <option value="purple">Viola</option>
                                    <option value="pink">Rosa</option>
                                    <option value="orange">Arancio</option>
                                    <option value="blue">Blu</option>
                                </select>

                            </div>

                        </div>
                        <div class="avatar-container">
                            <img src="../../../../assets/images/profile/avatar-{{editaUtenteForm.value.coloreavatar}}.png"
                                alt="" class="avatar">
                        </div>

                        <div class="buttons mt-2">
                            <button (click)="edita();" type="submit" class="btn primary-button mr-2"
                                [disabled]="editaUtenteForm.invalid">
                                salva
                            </button>
                        </div>

                        <div class="completo" *ngIf="segnalaOk">
                            Dati salvati correttamente
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </form>
</section>