<section>
    <form [formGroup]="creaNuovoUtenteForm">
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-lg-6">
                    <form [formGroup]="creaNuovoUtenteForm">
                        <div class="body relative">


                            <img src="../../../../assets/images/octologin.png" alt="" class="octo-bg">

                            <div class="d-flex gap-2 flex-column">
                                <div class="d-flex flex-column flex-lg-row gap-2">
                                    <div class="input-container mr-lg-2">
                                        <input type="text" formControlName="username" class="input-field"
                                            placeholder="Username">
                                        <i class="bi bi-person-circle icon"></i>
                                    </div>

                                    <div class="input-container ml-lg-2 relative"
                                        [ngClass]="errorePsw ? 'errore-psw' : 'no-error'">
                                        <input type="{{passwordType}}" formControlName="password" class="input-field"
                                            placeholder="Password">
                                        <i class="bi bi-eye-fill icon" (click)="togglePassword()" *ngIf="toggled"></i>
                                        <i class="bi bi-eye-slash-fill icon" (click)="togglePassword()"
                                            *ngIf="!toggled"></i>

                                        <div class="message-pdw msg-error" *ngIf="errorePsw">
                                            Minimo 8 caratteri
                                        </div>
                                    </div>

                                </div>

                                <div class="d-flex">
                                    <div class="input-container mr-2">
                                        <input type="text" formControlName="nome" class="input-field"
                                            placeholder="Nome">
                                    </div>
                                    <div class="input-container ml-2">
                                        <input type="text" formControlName="cognome" class="input-field"
                                            placeholder="Cognome">
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="input-container">
                                        <input type="text" formControlName="email" class="input-field"
                                            placeholder="Email">
                                        <i class="icon">@</i>
                                    </div>
                                </div>

                                <div class="buttons">
                                    <button (click)="registrati();" type="submit" class="btn primary-button mr-1"
                                        [disabled]="creaNuovoUtenteForm.invalid">
                                        registrati
                                    </button>
                                    <button (click)="resetForm();" class="btn btn-danger">
                                        cancella
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="messages mt-2">
                            <div class="error" *ngIf="erroreCreazione">
                                <span class="msg-error">Username e/o email già presenti.</span>
                            </div>
                            <div class="found" routerLink="/login">
                                Hai già un account? Accedi!
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
</section>