<div class="box-log">
    <div class="form">
        <form [formGroup]="creaNuovoUtenteForm">
            <div class="body">

                <div class="row">
                    <div class="col">
                        <div class="input-container">
                            <input type="text" formControlName="username" class="input-field" placeholder="Username">
                            <i class="bi bi-person-circle icon"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-container">
                            <input type="{{passwordType}}" formControlName="password" class="input-field" placeholder="Password">
                            <ng-container *ngIf="toggled">
                                <i class="bi bi-eye-fill icon" (click)="togglePassword()"></i>
                            </ng-container>
                            <ng-container *ngIf="!toggled">
                                <i class="bi bi-eye-slash-fill icon" (click)="togglePassword()"></i>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-container">
                            <input type="text" formControlName="nome" class="input-field" placeholder="Nome">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-container">
                            <input type="text" formControlName="cognome" class="input-field" placeholder="Cognome">
                        </div>
                    </div>
                </div>

                <div class="input-container">
                    <input type="text" formControlName="email" class="input-field" placeholder="Indirizzo e-mail">
                    <i class="bi bi-at icon"></i>
                </div>

                <div class="buttons">
                    <button (click)="registrati();" type="submit" class="btn primary-button" [disabled]="creaNuovoUtenteForm.invalid">
                        conferma
                    </button>
                    <button (click)="resetForm();" class="btn btn-danger">
                        cancella
                    </button>
                </div>

                <ng-container *ngIf="erroreSign != null ">
                    <div class="error">
                        <span class="msg-error">username e/o email gia' presenti, riprova</span>
                    </div>

                </ng-container>

            </div>
        </form>
    </div>
</div>