<div class="box-log">
    <div class="form">
        <form [formGroup]="creaNuovoUtenteForm">
            <div class="body">

                <div class="row">
                    <div class="col">
                        <span class="form-group">
                                <input type="text" class="form-control" placeholder="inserisci nome"
                                    formControlName="nome">
                            </span>
                    </div>
                    <div class="col">
                        <span class="form-group">
                                <input type="text" class="form-control" placeholder="inserisci cognome"
                                    formControlName="cognome">
                            </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <span class="form-group">
                                <input type="text" class="form-control" placeholder="inserisci username"
                                    formControlName="username">
                            </span>
                    </div>
                    <div class="col">
                        <span class="form-group">
                                <input type="password" class="form-control" placeholder="inserisci password"
                                    formControlName="password">
                            </span>
                    </div>
                </div>

                <span class="form-group">
                        <input class="form-control" type="text" placeholder="inserisci mail" formControlName="email">
                    </span>


                <div class="row">
                    <div class="col">
                        <span class="form-group has-float-label">
                            <select class="form-control" formControlName="genere">
                                <option selected disable>seleziona sesso</option>
                                <option *ngFor="let sesso of sessoSelect" value="{{sesso.label}}">
                                    {{sesso.label}}</option>
                            </select>
                                <label for="floatingInput">Sesso</label>
                            </span>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <span class="form-group has-float-label">
                                        <select class="form-control" formControlName="mese">
                                            <option selected disable>mm</option>
                                            <option *ngFor="let mese of mesiSelect" value="{{mese.value}}">
                                                {{mese.label}}</option>
                                        </select>
                                        <label for="floatingInput">Mese</label>
                                    </span>
                            </div>
                            <div class="col">
                                <span class="form-group has-float-label">
                                        <select class="form-control" formControlName="giorno">
                                            <option selected disable>gg</option>
                                            <option *ngFor="let giorno of giorniSelect" value="{{giorno.label}}">
                                                {{giorno.label}}</option>
                                        </select>
                                        <label for="floatingInput">Giorno</label>
                                    </span>
                            </div>
                            <div class="col">
                                <span class="form-group has-float-label">
                                        <select class="form-control" formControlName="anno">
                                            <option selected disable>aaaa</option>
                                            <option *ngFor="let anno of anniSelect" value="{{anno.label}}">
                                                {{anno.label}}</option>
                                        </select>
                                        <label for="floatingInput">Anno</label>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="buttons">
                    <button (click)="registrati();" type="submit" class="btn primary-button" [disabled]="creaNuovoUtenteForm.invalid" style="margin-right: 15px;">
                        conferma
                    </button>
                    <button (click)="resetForm();" class="btn btn-danger">
                        cancella
                    </button>
                </div>

                <ng-container *ngIf="erroreSign != null ">
                    <div class="error">
                        <span class="msg-error">username e/o email  gia' presenti, riprova</span>
                    </div>

                </ng-container>

            </div>
        </form>
    </div>
</div>