@import "src/styles/grid-base.scss";
@import "src/styles/buttons.scss";
@import "src/styles/input.scss";
@import "src/styles/typography.scss";

/* Style the input container */

.octo-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  z-index: 1;
  opacity: 0.2;
  pointer-events: none;
  z-index: -1;
}

.body {
  z-index: 2;
}

.completo {
  background: var(--accent);
  margin-top: 10px;
  width: fit-content;
  padding: 5px;
  border-radius: 4px;
  color: white;
}

.modal-header,
.modal-body,
.modal-footer {
  z-index: 101;
}

.modal-footer {
  flex-direction: row-reverse;
  justify-content: space-between;
}
