<section>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-lg-6">
                <form [formGroup]="loginUtenteForm">
                    <div class="body relative">

                        <img src="../../../../assets/images/octologin.png" alt="" class="octo-bg">
                        <div class="d-flex flex-column gap-2">
                            <div class="d-flex">
                                <div class="input-container mr-2">
                                    <input type="text" formControlName="username" class="input-field"
                                        placeholder="Username">
                                    <i class="bi bi-person-circle icon"></i>

                                </div>
                                <div class="input-container ml-2">


                                    <input type="{{passwordType}}" formControlName="password" class="input-field"
                                        placeholder="Password">
                                    <i class="bi bi-eye-fill icon" (click)="togglePassword()" *ngIf="toggled"></i>
                                    <i class="bi bi-eye-slash-fill icon" (click)="togglePassword()"
                                        *ngIf="!toggled"></i>
                                </div>
                            </div>


                            <div class="buttons">
                                <button (click)="login();" type="submit" class="btn primary-button mr-1"
                                    [disabled]="loginUtenteForm.invalid">
                                    accedi
                                </button>
                                <button (click)="resetForm();" class="btn btn-danger">
                                    cancella
                                </button>
                            </div>

                        </div>

                    </div>

                    <div class="messages">
                        <div class="found" (click)="openModal()">
                            Non ricordi la password? Clicca per reimpostarla
                        </div>
                        <div class="error" *ngIf="erroreLogin">
                            <span class="msg-error">Credenziali errate, riprova</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-events-name"
    (onShow)="handler('onShow', $event)" (onShown)="handler('onShown', $event)" (onHide)="handler('onHide', $event)"
    (onHidden)="handler('onHidden', $event)">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Reimpostazione password utente</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="recuperoForm">
                    <div class="input-container" *ngIf="!checkRecupero">
                        <input type="text" formControlName="email" class="input-field" placeholder="Email">
                        <i class="icon">@</i>
                    </div>
                    <div class="input-container mt-3" *ngIf="checkRecupero">
                        <input type="{{passwordType}}" formControlName="password" class="input-field"
                            placeholder="Nuova password">
                        <i class="bi bi-eye-fill icon" (click)="togglePassword()" *ngIf="toggled"></i>
                        <i class="bi bi-eye-slash-fill icon" (click)="togglePassword()" *ngIf="!toggled"></i>
                    </div>
                </form>
                <div class="completo" *ngIf="segnalaOK">
                    Password reimpostata correttamente
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="checkEmail()" *ngIf="!checkRecupero"
                    [disabled]="recuperoForm.invalid">
                    conferma
                </button>
                <div class="error float-left" *ngIf="nonTrovata">
                    <span class="msg-error">Email non trovata, riprova</span>
                </div>
                <button class="btn btn-primary" (click)="reimposta()" *ngIf="checkRecupero && !segnalaOK"
                    [disabled]="recuperoForm.invalid">
                    reimposta
                </button>
                <button class="btn btn-primary" *ngIf="segnalaOK" (click)="closeModal()">
                    chiudi
                </button>
            </div>
        </div>
    </div>
</div>