<div class="box">

    <div class="form">
        <form [formGroup]="loginUtenteForm" (ngSubmit)="login()">
            <div class="modal-header">
                <div class="header">Accedi</div>
            </div>
            <div class="modal-body">

                <span class="form-group has-float-label">
                            <input type="text" class="form-control" placeholder="insert" formControlName="username">
                            <label for="floatingInput">Username</label>
                        </span>

                <span class="form-group has-float-label">
                            <input type="password" class="form-control" placeholder="insert" formControlName="password">
                            <label for="floatingPassword">Password</label>
                        </span>

                <button type="submit" class="btn btn-outline-success">
                            accedi
                        </button>
                <button type="reset" class="btn btn-outline-danger">
                            cancella
                        </button>

            </div>

        </form>
    </div>
</div>