<div class="box-log">
    <div class="form">
        <form [formGroup]="loginUtenteForm">
            <div class="body">

                <div class="input-container">
                    <i class="bi bi-person-circle icon"></i>
                    <input type="text" formControlName="username" class="input-field" placeholder="Username">
                </div>
                <div class="input-container">
                    <ng-container *ngIf="toggled">
                        <i class="bi bi-eye-fill icon" (click)="togglePassword()"></i>
                    </ng-container>
                    <ng-container *ngIf="!toggled">
                        <i class="bi bi-eye-slash-fill icon" (click)="togglePassword()"></i>
                    </ng-container>
                    <input type="{{passwordType}}" formControlName="password" class="input-field" placeholder="Password">
                </div>

                <div class="buttons">
                    <button (click)="login();" type="submit" class="btn primary-button" [disabled]="loginUtenteForm.invalid">
                        conferma
                    </button>
                    <button (click)="resetForm();" class="btn btn-danger">
                        cancella
                    </button>
                </div>


                <ng-container *ngIf="erroreLogin != null ">
                    <div class="error">
                        <span class="msg-error">credenziali errate, riprova</span>
                    </div>

                </ng-container>

            </div>
        </form>
    </div>
</div>