<div class="box">
    <div class="form">
        <div *ngFor="let utente of utenti | async">
            <div *ngIf="utente.id == idutente">
                <form [formGroup]="editaUtenteForm" (ngSubmit)="edita()">

                    <div class="header">Benevenuto <span class="primary-text">{{utente.username}}</span></div>
                    <div class="text">
                        <p>In questa sezione del sito potrai visualizzare e aggiornare i tuoi dati personali</p>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col">
                                <span class="form-group has-float-label">
                                        <input type="text" class="form-control" placeholder="modifica il tuo nome"
                                            formControlName="nome">
                                        <label for="floatingInput">Nome - <span class="bolder">{{utente.nome}}</span></label>
                                </span>
                            </div>
                            <div class="col">
                                <span class="form-group has-float-label">
                                        <input type="text" class="form-control" placeholder="modifica il tuo cognome"
                                            formControlName="cognome">
                                        <label for="floatingPassword">Cognome - <span class="bolder">{{utente.cognome}}</span></label>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <span class="form-group has-float-label">
                                        <input type="text" class="form-control" placeholder="modifica il tuo username"
                                            formControlName="username">
                                        <label for="floatingInput">Username - <span class="bolder">{{utente.username}}</span></label>
                                </span>
                            </div>
                            <div class="col">
                                <span class="form-group has-float-label">
                                <input type="password" class="form-control" placeholder="modifica la tua password" formControlName="password">
                                <label for="floatingPassword">Password - <span class="bolder">{{utente.password}}</span></label>
                                </span>
                            </div>
                        </div>

                        <span class="form-group has-float-label">
                                <input class="form-control" type="text" placeholder="modifica la tua mail" formControlName="email">
                                <label for="floatingInput">Email - <span class="bolder">{{utente.email}}</span></label>
                        </span>




                        <div class="row">
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <select class="form-control" formControlName="genere">
                                        <option selected disable>seleziona sesso</option>
                                        <option *ngFor="let sesso of sessoSelect" value="{{sesso.label}}">
                                            {{sesso.label}}</option>
                                    </select>
                                        <label for="floatingInput">Sesso - <span class="bolder">{{utente.genere}}</span></label>
                                </span>
                            </div>


                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input class="form-control" type="text" value="{{utente.datanascita}}" readonly>
                                    <label for="floatingInput">Data di nascita</label>
                                </span>
                            </div>

                            <!-- <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <span class="form-group has-float-label">
                                                <select class="form-control" formControlName="mese">
                                                    <option selected disable>mm</option>
                                                    <option *ngFor="let mese of mesiSelect" value="{{mese.value}}">
                                                        {{mese.label}}</option>
                                                </select>
                                                <label for="floatingInput">Mese - <span class="bolder">{{utente.nome}}</span></label>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <span class="form-group has-float-label">
                                                <select class="form-control" formControlName="giorno">
                                                    <option selected disable>gg</option>
                                                    <option *ngFor="let giorno of giorniSelect" value="{{giorno.label}}">
                                                        {{giorno.label}}</option>
                                                </select>
                                                <label for="floatingInput">Giorno - <span class="bolder">{{utente.nome}}</span></label>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <span class="form-group has-float-label">
                                                <select class="form-control" formControlName="anno">
                                                    <option selected disable>aaaa</option>
                                                    <option *ngFor="let anno of anniSelect" value="{{anno.label}}">
                                                        {{anno.label}}</option>
                                                </select>
                                                <label for="floatingInput">Anno - <span class="bolder">{{utente.datanascita}}</span></label>
                                        </span>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <button type="submit" class="btn primary-button" style="margin-right: 15px;" [disabled]="editaUtenteForm.invalid">
                            conferma
                        </button>
                        <button type="reset" class="btn btn-danger">
                            cancella
                        </button>


                    </div>



                </form>
            </div>
        </div>
    </div>
</div>