<div class="box">

    <div class="header">Profilo</div>
    <div class="text">
        <p>{{sesso === 'femmina' ? 'Benvenuta' : 'Benvenuto'}} <span class="primary-text">{{usernameUtente}}</span>, in questa sezione del sito potrai visualizzare e modificare i tuoi dati personali.</p>
    </div>
    <div class="form-profile">
        <div *ngFor="let utente of utenti | async">
            <div *ngIf="utente.id == idutente">
                <form [formGroup]="editaUtenteForm" (ngSubmit)="edita()">

                    <div class="body">
                        <div class="row">
                            <div class="col">
                                <div class="input-container">
                                    <input type="text" formControlName="username" class="input-field" placeholder="{{utente.username}}">
                                    <i class="bi bi-person-circle icon"></i>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-container">
                                    <input type="{{passwordType}}" formControlName="password" class="input-field" placeholder="{{utente.password}}">
                                    <ng-container *ngIf="toggled">
                                        <i class="bi bi-eye-fill icon" (click)="togglePassword()"></i>
                                    </ng-container>
                                    <ng-container *ngIf="!toggled">
                                        <i class="bi bi-eye-slash-fill icon" (click)="togglePassword()"></i>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="input-container">
                                    <input type="text" formControlName="nome" class="input-field" placeholder="{{utente.nome}}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-container">
                                    <input type="text" formControlName="cognome" class="input-field" placeholder="{{utente.cognome}}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="input-container">
                                    <input type="text" formControlName="email" class="input-field" placeholder="{{utente.email}}">
                                    <i class="bi bi-at icon"></i>
                                </div>
                            </div>
                        </div>


                        <div class="buttons">
                            <button type="submit" class="btn primary-button">
                                conferma
                            </button>
                            <button type="reset" class="btn btn-danger">
                                cancella
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>