@import "src/styles/modal.scss";
@import "src/styles/input.scss";
@import "src/styles/buttons.scss";
@import "src/styles/grid-table.scss";
.card-detail {
    width: 100%;
}

#detail-span {
    padding: 1px;
    font-size: 25px;
    font-weight: 500;
    width: 100%;
}

#detail-label {
    font-size: 20px;
    font-weight: 200;
    width: 100%;
    color: #000;
}

@-moz-keyframes open {
    0% {
        transform: scale(0.7)
    }
    100% {
        transform: scale(1)
    }
}