<section class="box bg-grey">
    <div class="header">
        <div class="container">
            <div class="row flex-column flex-md-row justify-content-center align-items-center">
                <div class="col-12 col-lg-6 wow fadeInLeft">
                    <div class="title">
                        <span class="sub">M</span>iei Tornei
                    </div>
                    <div class="content mb-3">
                        Questa è la pagina di <span class="primary-text">menagement</span> dei tuoi tornei. <br> Qui
                        potrai
                        creare, modificare
                        ed eliminare i tuoi tornei con un semplice
                        <span class="primary-text">click</span>.
                        <br>
                        <br>
                        <ng-container *ngIf="torneiTot == 0">
                            Oh no, non hai mai creato un torneo fino ad ora. Che aspetti ? <br> Clicca su <span
                                class="primary-text">aggiungi
                                torneo</span> e sbizzarrisciti. <br>
                        </ng-container>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3 mt-lg-0" data-aos="flip-up">
                    <div class="row d-flex justify-content-center justify-content-lg-end">
                        <div class="col-8 colo-lg-6">

                            <div class="card-recap mb-1">
                                <div class="count">{{countTornei}}</div>
                                <div class="lbl">Online</div>
                            </div>

                            <div class="card-recap mb-1">
                                <div class="count">{{countPronti}}</div>
                                <div class="lbl">Pronti</div>
                            </div>

                            <div class="card-recap">
                                <div class="count">{{countTerminati}}</div>
                                <div class="lbl">Terminati</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-white" *ngIf="arrayTornei && arrayTornei.length > 0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex justify-content-center flex-wrap">
                        <button class="filtro relative" *ngFor="let filtro of filtri"
                            [ngClass]="filtro.attivo == 1 ? 'filtro-attivo' : 'non-attivo' " (click)="filtra(filtro)">
                            {{filtro.lbl}}
                            <span class="absolute badge bg-danger" *ngIf="filtro.attivo">
                                {{arrayTornei.length}}
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of arrayTornei" data-aos="fade-right">
                <div class="torneo border p-3 mt-3 mb-3">

                    <div class="header d-inline-flex justify-content-between w-100 mb-3">
                        <div class="nome">
                            {{item.nome}}
                        </div>
                        <div class="stato d-flex justify-content-evenly">
                            <img src="../../../../assets/images/settings.png" alt="" class="state">
                            <img src="../../../../assets/images/pyramid1.png" alt="" class="state"
                                *ngIf="item.stato === 'PRONTO' ">
                            <img src="../../../../assets/images/pyramid2.png" alt="" class="state"
                                *ngIf="item.stato === 'CONCLUSO' ">
                            <img src="../../../../assets/images/pyramid3.png" alt="" class="state"
                                *ngIf="item.stato === 'IN CORSO' ">
                        </div>
                    </div>

                    <div class="item-body relative">
                        <div class="d-flex justify-content-between">
                            <div class="gioco">
                                <div class="info-lbl d-block">gioco</div>
                                {{item.gioco}}
                            </div>
                            <div class="platform text-right">
                                <div class="info-lbl d-block" d-block>piattaforma </div>
                                {{item.piattaforma}}
                            </div>
                        </div>

                        <div class="posti d-flex justify-content-between mt-3">
                            <div class="capienza">
                                <div class="info-lbl d-block">posti liberi</div>
                                <span class="liberi text-danger"
                                    *ngIf="item.postiLiberi == 0">{{item.postiLiberi}}</span>
                                <span class="liberi text-success"
                                    *ngIf="item.postiLiberi > 0">{{item.postiLiberi}}</span>
                            </div>
                            <div class="tot-iscrizioni text-right">
                                <div class="info-lbl d-block">iscrizioni</div>
                                {{item.iscrizioni}}/{{item.capienza}}
                            </div>
                        </div>

                        <div class="octo-bg">
                            <!-- <img src="../../../../assets/images/octobg.png" alt=""> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>