<div class="box">
    <div class="wrapper">
        <div class="grid-button text-center">
            <button class="btn btn-submit" (click)="openInsertModal(insertFormTorneo)">
                <i class="bi bi-plus btn-insert"></i>
            </button>
        </div>
        <div class="grid-cards">
            <ng-container class="item" *ngFor="let torneo of mieiTornei| async">
                <ng-container *ngIf="torneo.idCreatore == idCreatore">
                    <div class="card" (click)="openEditModal(updateTorneoForm, torneo.id)">
                        <div class="card-body">
                            <span id="detail-span">{{torneo.nome}}</span>
                            <h3 class="card-subtitle mb-2 text-muted">{{torneo.gioco}} - {{torneo.piattaforma}}</h3>
                            <p class="card-text">{{torneo.descrizione}}</p>
                            <p class="card-text informazioni">Iscrizioni al momento {{torneo.iscrizioni}} <br> Posti liberi {{torneo.postiLiberi}} <br> Stato {{torneo.stato | uppercase}}</p>
                        </div>
                    </div>
                </ng-container>

            </ng-container>
        </div>
    </div>



    <ng-template #insertFormTorneo let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Creazione nuovo torneo</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form [formGroup]="creaNuovoTorneoForm" (ngSubmit)="crea()">
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <span class="form-group has-float-label">
                            <input type="text" class="form-control" placeholder="inserisci nome torneo"
                                formControlName="nome" ngbAutofocus>
                            <label for="floatingInput">Nome torneo</label>
                        </span>
                    </div>
                    <div class="col">
                        <span class="form-group has-float-label">
                            <input type="text" class="form-control" placeholder="inserisci gioco"
                                formControlName="gioco">
                            <label for="floatingPassword">Gioco topic</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="form-group has-float-label">
                            <input type="text" class="form-control" placeholder="inserisci piattaforma"
                                formControlName="piattaforma">
                            <label for="floatingInput">Piattaforma</label>
                        </span>
                    </div>
                    <div class="col">
                        <span class="form-group has-float-label">
                            <input type="text" class="form-control" placeholder="scegli il numero di partite"
                                formControlName="partite">
                            <label for="floatingPassword">N° partite</label>
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <span class="form-group has-float-label">
                            <input type="text" class="form-control" placeholder="definisci capienza massima"
                                formControlName="capienza">
                            <label for="floatingInput">Capienza max</label>
                        </span>
                    </div>
                    <div class="col">
                        <span class="form-group has-float-label">
                            <input type="text" class="form-control" placeholder="definisci capienza minima"
                                formControlName="capienzaMinima">
                            <label for="floatingPassword">Capienza min</label>
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <span class="form-group has-float-label">
                            <input type="text" class="form-control" placeholder="scegli primo premio"
                                formControlName="premioPrimo">
                            <label for="floatingInput">1° premio</label>
                        </span>
                    </div>
                    <div class="col">
                        <span class="form-group has-float-label">
                            <input type="text" class="form-control" placeholder="scegli secondo premio"
                                formControlName="premioSecondo">
                            <label for="floatingInput">2° premio</label>
                        </span>
                    </div>
                    <div class="col">
                        <span class="form-group has-float-label">
                            <input type="text" class="form-control" placeholder="scegli terzo premio"
                                formControlName="premioTerzo">
                            <label for="floatingPassword">3° premio</label>
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <span class="form-group has-float-label">
                            <input type="text" class="form-control" placeholder="definisci quota di partecipazione"
                                formControlName="quota">
                            <label for="floatingInput">Quota</label>
                        </span>
                    </div>
                    <div class="col">
                        <span class="form-group has-float-label">
                            <input type="text" class="form-control" placeholder="stato del torneo"
                                formControlName="stato">
                            <label for="floatingPassword">Stato</label>
                        </span>
                    </div>
                </div>

                <span class="form-group has-float-label">
                    <textarea type="text" class="form-control" placeholder="inserisci descrizione"
                        formControlName="descrizione"></textarea>
                    <label for="floatingPassword">Descrizione</label>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">
                chiudi
            </button>
                <button type="submit" class="btn btn-submit" [disabled]="creaNuovoTorneoForm.invalid" (click)="modal.close('Save click')">
                aggiungi
            </button>
            </div>
        </form>
    </ng-template>

    <ng-template #updateTorneoForm let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Modifica torneo</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" id="span-close">&times;</span>
        </button>
        </div>
        <form [formGroup]="editaTorneoForm" (ngSubmit)="edita()">
            <div *ngFor="let torneo of mieiTornei | async">
                <div *ngIf="torneo.id == idTorneoDaEditare">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input type="text" class="form-control" placeholder="{{torneo.nome}}"
                                        formControlName="nome" ngbAutofocus>
                                    <label for="floatingInput">Nome torneo - <span class="bolder">{{torneo.nome}}</span></label>
                                </span>
                            </div>
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input type="text" class="form-control" placeholder="{{torneo.gioco}}"
                                        formControlName="gioco">
                                    <label for="floatingPassword">Gioco topic - <span class="bolder">{{torneo.gioco}}</span></label>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input type="text" class="form-control" placeholder="{{torneo.piattaforma}}"
                                        formControlName="piattaforma">
                                    <label for="floatingInput">Piattaforma - <span class="bolder">{{torneo.piattaforma}}</span></label>
                                </span>
                            </div>
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input type="text" class="form-control" placeholder="{{torneo.partite}}"
                                        formControlName="partite">
                                    <label for="floatingPassword">N° partite - <span class="bolder">{{torneo.partite}}</span></label>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input type="text" class="form-control" placeholder="{{torneo.capienza}}"
                                        formControlName="capienza">
                                    <label for="floatingInput">Capienza max - <span class="bolder">{{torneo.capienza}}</span></label>
                                </span>
                            </div>
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input type="text" class="form-control" placeholder="{{torneo.capienzaMinima}}"
                                        formControlName="capienzaMinima">
                                    <label for="floatingPassword">Capienza min - <span class="bolder">{{torneo.capienzaMinima}}</span></label>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input type="text" class="form-control" placeholder="{{torneo.premioPrimo}}"
                                        formControlName="premioPrimo">
                                    <label for="floatingInput">1° premio - <span class="bolder">{{torneo.premioPrimo}}</span></label>
                                </span>
                            </div>
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input type="text" class="form-control" placeholder="{{torneo.premioSecondo}}"
                                        formControlName="premioSecondo">
                                    <label for="floatingInput">2° premio - <span class="bolder">{{torneo.premioSecondo}}</span></label>
                                </span>
                            </div>
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input type="text" class="form-control" placeholder="{{torneo.premioTerzo}}"
                                        formControlName="premioTerzo">
                                    <label for="floatingPassword">3° premio - <span class="bolder">{{torneo.premioTerzo}}</span></label>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input type="text" class="form-control" placeholder="{{torneo.quota}}"
                                        formControlName="quota">
                                    <label for="floatingInput">Quota - <span class="bolder">{{torneo.quota}}</span></label>
                                </span>
                            </div>
                            <div class="col">
                                <span class="form-group has-float-label">
                                    <input type="text" class="form-control" placeholder="{{torneo.stato}}"
                                        formControlName="stato">
                                    <label for="floatingPassword">Stato - <span class="bolder">{{torneo.stato}}</span></label>
                                </span>
                            </div>
                        </div>

                        <span class="form-group has-float-label">
                            <textarea type="text" class="form-control" placeholder="{{torneo.descrizione}}"
                                formControlName="descrizione"></textarea>
                            <label for="floatingPassword">Descrizione</label>
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">
                            chiudi
                        </button>
                        <button type="button" class="btn btn-outline-danger" (click)="openDeleteModal(deleteTorneo,torneo.id)">
                            elimina
                        </button>
                        <button type="submit" class="btn btn-submit" (click)="modal.close('Save click')">
                        salva
                    </button>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #deleteTorneo let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Elimina torneo</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form (ngSubmit)="elimina()">
            <div class="modal-body">
                <p>Sei sicuro di voler eliminare il torneo <b>{{nomeTorneoDaEliminare}}</b> ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-submit" (click)="modal.close('Close click')" ngbAutofocus>
                        chiudi
                    </button>
                <button type="submit" class="btn btn-danger">
                        elimina
                    </button>
            </div>
        </form>
    </ng-template>