<section class="box bg-grey">
    <div class="header">
        <div class="container">
            <div class="row flex-column flex-md-row justify-content-center align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="title">
                        <span class="sub">T</span>ornei
                    </div>
                    <div class="content mb-3">
                        Questa è la pagina di <span class="primary-text">elenco</span> dei tornei online al momento.
                        <br> Qui potrai <span class="primary-text">iscriverti</span> e <span
                            class="primary-text">giocare</span> a tutti i tornei disponibili.
                        Inoltre
                        potrai vedere il <span class="primary-text">dettaglio</span> di ognuno di essi.
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3 mt-lg-0" data-aos="flip-up">
                    <div class="row d-flex justify-content-center justify-content-lg-end">
                        <div class="col-8 colo-lg-6">


                            <div class="card-recap mb-1">
                                <div class="count">{{countTornei}}</div>
                                <div class="lbl">Online</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #detailTorneo let-modal>
        <div class="modal-header ">
            <h4 class="modal-title ">Dettaglio torneo - {{nomeTorneoDaVedere}}</h4>
            <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
                <i class="bi bi-x-circle-fill"></i>
            </button>
        </div>
        <div *ngFor="let torneo of mieiTornei | async">
            <div *ngIf="torneo.id == idTorneoDaVedere">
                <div class="modal-body step-modal">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true"
                                ngbTooltip="generali"><i class="bi bi-info-circle"></i>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false"
                                ngbTooltip="requisiti"><i class="bi bi-gear-wide-connected"></i>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab" data-bs-toggle="tab" data-bs-target="#contact"
                                type="button" role="tab" aria-controls="contact" aria-selected="false"
                                ngbTooltip="premi"><i class="bi bi-trophy-fill"></i>

                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col">
                                    <div class="input-container">
                                        <label class="icon text">Nome</label>
                                        <input type="text" class="input-field" placeholder="{{torneo.nome}}" readonly>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-container">
                                        <label class="icon text">Gioco</label>
                                        <input type="text" class="input-field" placeholder="{{torneo.gioco}}" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="input-container">
                                        <label class="icon text">Piattaforma</label>
                                        <input type="text" class="input-field" placeholder="{{torneo.piattaforma}}"
                                            readonly>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col">
                                    <div class="input-container">
                                        <label class="icon text">Descrizione</label>
                                        <textarea type="text" class="input-field" placeholder="{{torneo.descrizione}}"
                                            readonly></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col">
                                    <div class="input-container">
                                        <label class="icon text">N° partite</label>
                                        <input type="text" class="input-field" placeholder="{{torneo.partite}}"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-container">
                                        <label class="icon text">Quota</label>
                                        <input type="text" class="input-field" placeholder="{{torneo.quota}}" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="input-container">
                                        <label class="icon text">Posti Max</label>
                                        <input type="text" class="input-field" placeholder="{{torneo.capienza}}"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-container">
                                        <label class="icon text">Posti Min</label>
                                        <input type="text" class="input-field" placeholder="{{torneo.capienzaMinima}}"
                                            readonly>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row">
                                <div class="col">
                                    <div class="input-container">
                                        <label class="icon text">1° premio</label>
                                        <input type="text" class="input-field" placeholder="{{torneo.premioPrimo}}"
                                            readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="input-container">
                                        <label class="icon text">2° premio</label>
                                        <input type="text" class="input-field" placeholder="{{torneo.premioSecondo}}"
                                            readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="input-container">
                                        <label class="icon text">3° premio</label>
                                        <input type="text" class="input-field" placeholder="{{torneo.premioTerzo}}"
                                            readonly>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')" ngbAutofocus>
                        chiudi
                    </button>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #iscrivitiModal let-modal>
        <div class="modal-header ">
            <h4 class="modal-title ">Iscrizione torneo</h4>
            <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
                <i class="bi bi-x-circle-fill"></i>

            </button>
        </div>
        <div class="modal-body">
            <ng-container *ngIf="!iscritto && !simulato">
                <div class="text">
                    <p>Sei pronto per giocare ?<br> Clicca su <span class="primary-text">iscriviti</span> per confermare
                        l'iscrizione al torneo.
                    </p>
                </div>
            </ng-container>
            <ng-container *ngIf="iscritto && !simulato">
                <div class="text">
                    <p>
                        Iscrizione <span class="primary-text">completata</span>, siamo pronti! <br> Ora non resta che
                        <span class="primary-text">simulare</span> il torneo. <br> I tuoi punti e quelli dei tuoi
                        avversari verranno generati <span class="primary-text">casualmente</span>.
                        <br> Che la forza sia con te.
                    </p>
                </div>
            </ng-container>
            <ng-container *ngIf="simulato">
                <div class="text">
                    <p>
                        Simulazione <span class="primary-text">completata</span>, ora vai a vedere il tuo risultato!
                        <br> Avrai vinto?
                    </p>
                </div>
            </ng-container>
        </div>
        <div class="modal-footer">
            <ng-container *ngIf="!iscritto">
                <button class="btn primary-button" (click)="iscriviti()" ngbAutofocus>iscriviti</button>
            </ng-container>

            <ng-container *ngIf="iscritto && !simulato">
                <button class="btn primary-button" (click)="simula()">
                    simula
                </button>
            </ng-container>

            <ng-container *ngIf="simulato">
                <button class="btn primary-button" (click)="goToClassifica()" (click)="modal.close( 'Close click' )">
                    vai alla classifica
                </button>
            </ng-container>

            <ng-container *ngIf="!iscritto">
                <button class="btn btn-danger " (click)="modal.dismiss( 'Close click') ">
                    chiudi
                </button>
            </ng-container>

        </div>
    </ng-template>

    <ng-template #dettaglioGlobale let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Dettaglio globale</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true" id="span-close">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngFor="let class of classificaGlobale | async">
                <ng-container *ngIf="class.idPlayer == idPlayerPassato">
                    <table class="table-globale">
                        <tr>
                            <td colspan="2"><span class="bolder">{{usernameUtentePassato}}</span></td>
                        </tr>
                        <tr>
                            <td>Punteggio totale</td>
                            <td><button class="btn primary-button">{{class.punteggioTotale}}</button></td>
                        </tr>
                        <tr>
                            <td>Media punti x torneo</td>
                            <td><button class="btn primary-button">{{class.mediaPunteggio}}</button></td>
                        </tr>
                        <tr>
                            <td>Partite giocate</td>
                            <td><button class="btn primary-button">{{class.partiteGiocate}}</button></td>
                        </tr>
                        <tr>
                            <td>Tornei giocati</td>
                            <td><button class="btn primary-button">{{class.torneiGiocati}}</button></td>
                        </tr>
                        <tr>
                            <td>Vittorie</td>
                            <td><button class="btn primary-button">{{class.vittorie}}</button></td>
                        </tr>
                    </table>
                </ng-container>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.dismiss('Close click')" ngbAutofocus>
                chiudi
            </button>
        </div>
    </ng-template>
</section>
<section class="bg-white" *ngIf="arrayTornei && arrayTornei.length > 0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex justify-content-center flex-wrap">
                        <button class="filtro relative" *ngFor="let filtro of filtri"
                            [ngClass]="filtro.attivo == 1 ? 'filtro-attivo' : 'non-attivo' " (click)="filtra(filtro)">
                            {{filtro.lbl}}
                            <span class="absolute badge bg-danger" *ngIf="filtro.attivo">
                                {{arrayTornei.length}}
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of arrayTornei" data-aos="fade-right">
                <div class="torneo border p-3 mt-3 mb-3">

                    <div class="header d-inline-flex justify-content-between w-100 mb-3">
                        <div class="nome">
                            {{item.nome}}
                        </div>
                        <div class="stato d-flex justify-content-evenly">
                            <img src="../../../../assets/images/info.png" alt="" class="state">
                            <img src="../../../../assets/images/pyramid1.png" alt="" class="state"
                                *ngIf="item.stato === 'PRONTO' ">
                            <img src="../../../../assets/images/pyramid2.png" alt="" class="state"
                                *ngIf="item.stato === 'CONCLUSO' ">
                            <img src="../../../../assets/images/pyramid3.png" alt="" class="state"
                                *ngIf="item.stato === 'IN CORSO' ">
                        </div>
                    </div>

                    <div class="item-body relative">
                        <div class="d-flex justify-content-between">
                            <div class="gioco">
                                <div class="info-lbl d-block">gioco</div>
                                {{item.gioco}}
                            </div>
                            <div class="platform text-right">
                                <div class="info-lbl d-block" d-block>piattaforma </div>
                                {{item.piattaforma}}
                            </div>
                        </div>

                        <div class="posti d-flex justify-content-between mt-3">
                            <div class="capienza">
                                <div class="info-lbl d-block">posti liberi</div>
                                <span class="liberi text-danger"
                                    *ngIf="item.postiLiberi == 0">{{item.postiLiberi}}</span>
                                <span class="liberi text-success"
                                    *ngIf="item.postiLiberi > 0">{{item.postiLiberi}}</span>
                            </div>
                            <div class="tot-iscrizioni text-right">
                                <div class="info-lbl d-block">iscrizioni</div>
                                {{item.iscrizioni}}/{{item.capienza}}
                            </div>
                        </div>

                        <div class="octo-bg">
                            <!-- <img src="../../../../assets/images/octobg.png" alt=""> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>