<div class="box">
    <div class="wrapper">
        <div class="grid-cards">
            <ng-container class="item" *ngFor="let torneo of mieiTornei| async">
                <ng-container *ngIf="torneo.idCreatore != idCreatore">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-intestazione">
                                <span id="detail-span">{{torneo.nome}}</span>
                                <button class="btn btn-info" ngbAutofocus (click)="openDetailModal(detailTorneo, torneo.id)">
                                    <i class="bi bi-info-circle-fill"></i>
                                </button>
                            </div>
                            <h3 class="card-subtitle mb-2 text-muted">{{torneo.gioco}} - {{torneo.piattaforma}}</h3>
                            <p class="card-text">{{torneo.descrizione}}</p>
                            <p class="card-text informazioni">Iscrizioni al momento {{torneo.iscrizioni}} <br> Posti liberi {{torneo.postiLiberi}} <br> Stato {{torneo.stato | uppercase}}</p>
                            <div *ngFor="let utente of utenti | async">
                                <div *ngIf="utente.id == torneo.idCreatore" class="card-text">
                                    creato da <span class="text-purple ">
                                        {{utente.username}}
                                    </span>
                                </div>
                            </div>
                            <button class="btn btn-iscriviti" (click)="iscriviti(torneo.id)" [disabled]="torneo.postiLiberi == 0">
                                iscriviti
                            </button>
                        </div>
                    </div>
                </ng-container>

            </ng-container>
        </div>
    </div>

    <ng-template #detailTorneo let-modal>
        <div class="modal-header ">
            <h4 class="modal-title ">Dettaglio torneo</h4>
            <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
                <span aria-hidden="true ">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ciao
        </div>

    </ng-template>