<div class="box">
    <div class="grid-table">
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let th of thLabels">{{ th.label }}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let torneo of mieiTornei | async">
                    <ng-container *ngIf="torneo.idCreatore != idCreatore">
                        <td>{{ torneo.nome }}</td>
                        <td>{{ torneo.gioco }}</td>
                        <td>{{ torneo.piattaforma }}</td>
                        <td>{{ torneo.capienza }}</td>
                        <td>{{ torneo.iscrizioni }}</td>
                        <td>{{ torneo.postiLiberi }}</td>
                        <td>{{ torneo.partite }}</td>
                        <td>{{ torneo.quota }}</td>
                        <td>{{ torneo.stato }}</td>
                        <td (click)="openDetailModal(detailTorneo, torneo.id)">
                            dettaglio
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #detailTorneo let-modal>
    <div class="modal-body">
        <div *ngFor="let torneo of mieiTornei | async">
            <ng-container *ngIf="torneo.id == idTorneoDaVedere">
                <div class="row">
                    <div class="col-5 col-bg">

                    </div>
                    <div class="col-7">
                        <div class="modal-header">
                            <span id="detail-span">info generali</span>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <label id="detail-label">Nome torneo - {{ torneo.nome }}</label>
                                </div>
                                <div class="col">
                                    <label id="detail-label">Gioco topic - {{ torneo.gioco }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label id="detail-label">Piattaforma - {{ torneo.piattaforma }}</label>
                                </div>
                                <div class="col">
                                    <label id="detail-label">Stato - {{ torneo.stato }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label id="detail-label">Iscrizioni ora - {{ torneo.iscrizioni }}</label>
                                </div>
                                <div class="col">
                                    <label id="detail-label">postiLiberi ora - {{ torneo.postiLiberi }}</label>
                                </div>
                            </div>
                        </div>

                        <div class="modal-header">
                            <span id="detail-span">Specifiche del torneo</span>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <label id="detail-label">Capienza max - {{ torneo.capienza }} giocatori</label>
                                </div>
                                <div class="col">
                                    <label id="detail-label">N° partite da completare - {{ torneo.partite }}</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label id="detail-label">Capienza min - {{ torneo.capienzaMinima }} giocatori</label>
                                </div>
                                <div class="col">
                                    <label id="detail-label">Quota - {{ torneo.quota }}€ a giocatore</label>
                                </div>
                            </div>
                        </div>

                        <div class="modal-header">
                            <span id="detail-span">premi</span>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <label id="detail-label">1° premio - {{ torneo.premioPrimo }}</label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label id="detail-label">2° premio - {{ torneo.premioSecondo }}</label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label id="detail-label">3° premio - {{ torneo.premioTerzo }}</label>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger">
            esci
        </button>
        <button class="btn btn-submit" type="submit">
            iscriviti
        </button>
    </div>
</ng-template>