<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="home">TheTournament</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height:auto;">
                <li class="nav-item">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Tornei
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" [routerLink]="mieiTorneiUrl">I miei tornei</a></li>
                        <li><a class="dropdown-item" [routerLink]="torneiUrl">Elenco tornei online</a></li>
                    </ul>
                </li>
                <li class="nav-item" *ngIf="loggato()">
                    <a class="nav-link" href="profilo">Profilo</a>
                </li>
                <li class="nav-item" *ngIf="!loggato()">
                    <a class="nav-link" href="login">Login</a>
                </li>
                <li class="nav-item" *ngIf="loggato()">
                    <button (click)="logout()" class="btn tbn-dark">LOGOUT</button>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>