.nav-item {
    font-size: 35px;
    font-weight: 300;
    padding: 5px;
    &:hover {
        text-decoration: none;
        text-transform: none;
    }
}

.nav-link {
    padding: 0;
    color: rgb(238, 238, 238);
}

.navbar {
    background-color: #121212;
}

.active {
    font-weight: 400;
    color: #BB86FC;
}

.nome-progetto {
    font-size: 40px;
    color: rgb(238, 238, 238);
}