@import "src/styles/typography.scss";
@import "src/styles/buttons.scss";

.podio {
  --width: 80px;
}

.grafico {
  .punteggio {
    width: var(--width);
    background: var(--accent);
    text-align: center;
    padding-top: 10px;
    color: white;
  }

  &:nth-child(1) {
    .nome {
      color: var(--accent-100);
    }
  }
  &:nth-child(3) {
    .nome {
      color: var(--accent-900);
    }
  }
  &:nth-child(2) {
    .nome {
      color: var(--accent-500);
    }
  }
}

.grafico {
  &:nth-child(1) {
    .punteggio {
      height: 130px;
      background-color: var(--accent-100);
    }
  }
  &:nth-child(2) {
    .punteggio {
      height: 170px;
      background-color: var(--accent-500);
    }
  }
  &:nth-child(3) {
    .punteggio {
      height: 90px;
      background-color: var(--accent-900);
    }
  }
}

.crown {
  width: var(--width);
}

.nome {
  margin-top: 10px;
}

.storico {
  box-shadow: 0 5px 10px grey;
  padding: 10px;
  border-radius: 5px;
  height: fit-content;
}

.points {
  margin: 5px 0 5px 0;
  padding: 3px 5px 3px 5px;
}
.item:nth-child(odd) {
  .points {
    background-color: var(--accent-100);
  }
}

.item:nth-child(even) {
  .points {
    background-color: var(--accent-500);
  }
}
