<div class="box">
    <div class="wrapper">
        <div class="content">
            <div class="header">
                Home
            </div>
            <div class="text">
                {{sesso === 'femmina' ? 'Benvenuta' : 'Benvenuto'}}<span class="text-purple">TheTournament</span> ! <br> Questa piattaforma ti permettera' di <span class="primary-text">partecipare</span> a tornei video-ludici online e <span class="primary-text">gestirli</span>.
                <br> Inoltre potrai <span class="primary-text">iscriverti</span> a qualunque torneo disponibile, <span class="primary-text">simulando</span> la partecipazione ad esso. <br>
            </div>
        </div>
        <div class="count-tournaments">
            <button class="btn contrast-button">players in gara {{playerInGara}}</button>
        </div>
        <div class="grid-players">
            <ng-container *ngFor="let class of classificaGlobale | async">
                <ng-container *ngFor="let utente of utenti | async">
                    <ng-container *ngIf="class.idPlayer == utente.id">
                        <div class="card" (click)="openPlayerDetailModal(dettaglioGlobale, utente.id, utente.username)">
                            <div class="card-body">
                                <span class="detail-span primary-text">
                                    {{utente.username| uppercase}}
                                </span>
                                <h3 class="text">{{class.partiteGiocate}} partite giocate</h3>
                                <h3 class="text">{{class.punteggioTotale}} punti fatti</h3>
                                <h3 class="text">{{class.vittorie}} vittorie</h3>
                            </div>

                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #dettaglioGlobale let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Dettaglio globale : {{usernameUtentePassato | uppercase}}</h4>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
            <i class="bi bi-x-circle-fill"></i>
        </button>
    </div>
    <div class="modal-body">
        <div *ngFor="let class of classificaGlobale | async">
            <ng-container *ngIf="class.idPlayer == idPlayerPassato">
                <table class="table-globale">
                    <tr>
                        <td>Punteggio totale</td>
                        <td><button class="btn contrast-button">{{class.punteggioTotale}}</button></td>
                    </tr>
                    <tr>
                        <td>Media punti x torneo</td>
                        <td><button class="btn contrast-button">{{class.mediaPunteggio}}</button></td>
                    </tr>
                    <tr>
                        <td>Partite giocate</td>
                        <td><button class="btn contrast-button">{{class.partiteGiocate}}</button></td>
                    </tr>
                    <tr>
                        <td>Tornei giocati</td>
                        <td><button class="btn contrast-button">{{class.torneiGiocati}}</button></td>
                    </tr>
                    <tr>
                        <td>Vittorie</td>
                        <td><button class="btn contrast-button">{{class.vittorie}}</button></td>
                    </tr>
                </table>
            </ng-container>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Close click')" ngbAutofocus>
            chiudi
        </button>
    </div>
</ng-template>