@import "src/styles/input.scss";
@import "src/styles/buttons.scss";
@import "src/styles/typography.scss";
@import "src/styles/modal.scss";
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8C52FF;
    color: white;
    text-align: center;
    p {
        margin: 0;
        padding: 1rem;
        font-size: 20px;
        font-weight: 300;
    }
}

.carousel {
    margin: auto;
    width: 60%;
    img {
        width: 100%;
        height: 400px;
    }
}

.box {
    width: 100%;
    padding: 2%;
}

.wrapper {
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    gap: 25px;
}

.content {
    grid-row-end: 2;
}

.grid-players {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
    padding: 15px;
}

.card {
    border: 1px solid #fff;
    background-color: #1f1b24;
    &:hover {
        cursor: pointer;
        #detail-span {
            text-decoration: underline;
        }
    }
}

.count-tournaments {
    width: 100%;
    text-align: right;
}

.detail-span {
    padding: 1px;
    font-size: 35px;
    font-weight: 500;
    width: 100%;
}

.table-globale {
    font-size: 35px;
    border-top: none;
    width: 100%;
    td:nth-child(even) {
        color: #8C52FF;
        font-weight: 300;
        text-align: right;
    }
    td:nth-child(odd) {
        font-weight: 200;
        color: #fff;
    }
}

@media (max-width: 700px) {
    .content {
        width: 100%;
    }
    .contrast-button {
        width: auto;
    }
    .grid-players {
        grid-template-columns: 100%;
        padding: 5px;
    }
    .table-globale {
        font-size: 20px;
    }
}