<div class="box">
    <div class="wrapper">
        <div class="content">
            <div class="header">
                Home
            </div>
            <div class="text">
                Benvenuto su <span class="text-purple">TheTournament</span> ! Questa piattaforma ti permettera' di iscriverti e creare tornei video-ludici online. <br> Potrai gestire infatti i tuoi tornei qual'ora ne avessi: modificando creando ed eliminando.
                <br> Inoltre potrai iscriverti a qualunque torneo disponibile, simulando la vera partecipazione ad esso. <br>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>idGiocatore</th>
                <th>punteggio totale</th>
                <th>punteggio medio per torneo</th>
                <th>vittorie</th>
                <th>tornei giocati</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let class of classificaGlobale | async">
                <ng-container *ngFor="let utente of utenti | async">
                    <td *ngIf="class.idPlayer == utente.id">{{utente.username}}</td>
                </ng-container>

                <td>{{class.punteggioTotale}}</td>
                <td>{{class.mediaPunteggio}}</td>
                <td>{{class.vittorie}}</td>
                <td>{{class.torneiGiocati}}</td>
            </tr>
        </tbody>
    </table>
</div>