<div class="box">
    <div class="wrapper">
        <div class="content">
            <div class="header">
                Home
            </div>
            <div class="text">
                Benvenuto su <span class="text-purple">TheTournament</span> ! Questa piattaforma ti permettera' di iscriverti e creare tornei video-ludici online. <br> Potrai gestire infatti i tuoi tornei qual'ora ne avessi: modificando creando ed eliminando.
                <br> Inoltre potrai iscriverti a qualunque torneo disponibile, simulando la vera partecipazione ad esso. <br>
            </div>
        </div>
    </div>
</div>