.btn {
    font-size: 25px;
    border-radius: 15px;
}

.close {
    color: #fff;
}

.btn-card {
    width: 100%;
}

.btn-insert {
    font-size: 25px;
}

.primary-button {
    background-color: #BB86FC;
    color: #fff;
    &:hover {
        background-color: #a56aee;
        color: #fff;
    }
}