label {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.form-control {
    background: transparent !important;
    border-radius: 0;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px rgb(223, 231, 238) solid;
    border-left: 2px transparent solid;
    border-top: 2px transparent solid;
    border-right: 2px transparent solid;
    margin-top: 10px;
}

.has-float-label label::after,
.has-float-label>span::after {
    content: none;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 2px #fff solid;
    border-left: 2px transparent solid;
    border-top: 2px transparent solid;
    border-right: 2px transparent solid
}

@media (max-width: 800px) {
    .btn {
        width: 30%;
        font-size: 15px;
        margin-top: 1%;
    }
    .form-control {
        font-size: 20px;
    }
    label {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .form-control,
    select {
        font-size: 15px;
        font-weight: 200!important;
         ::placeholder {
            font-weight: 200!important;
            color: #000;
        }
    }
    label {
        font-size: 15px;
    }
}