// ANCHOR INMPORTANTI NUOVE INPUT
.input-container {
  display: flex;
  width: 100%;
  border: 3px solid var(--accent);
  border-radius: 4px;
}

.errore-psw {
  border: 3px solid var(--danger);
}

/* Style the form icons */

.icon {
  padding: 10px;
  background: transparent;
  border-bottom: 1px rgba(226, 233, 240, 0.61) solid;
  color: black;
  font-size: 20px;
  text-align: left;
  width: auto;
}

.input-container > label {
  color: #bb86fc;
  font-weight: 400;
}

/* Style the input fields */

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 20px;
  font-weight: 900;
  background: transparent;
  color: #000;
  border: none;
  &::placeholder {
    color: #000;
    opacity: 0.7;
  }

  &:focus {
    &::placeholder {
      opacity: 1;
    }
  }
}

@media (max-width: 800px) {
  .input-field {
    font-size: 20px;
  }
  .icon {
    font-size: 20px;
  }
}
