.modal-content {
    animation-name: open;
    animation-duration: 0.5s;
}

@-moz-keyframes open {
    0% {
        transform: scale(0.7)
    }
    100% {
        transform: scale(1)
    }
}

.modal-body {
    border-radius: 0;
    p {
        font-size: 25px;
        font-weight: 200;
    }
}

.modal-body b {
    text-transform: uppercase;
}

.modal-header {
    border-radius: 0;
    color: white;
    text-transform: uppercase;
}

.modal-title {
    font-weight: bold;
    text-transform: uppercase;
}

.close>span {
    box-shadow: none;
}

.modal-body label {
    font-size: 20px;
}