.header {
    font-size: 45px;
    width: 100%;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

.step-modal {
    height: 400px;
}

.tab-content {
    padding: 15px;
}

#tab {
    font-size: 30px;
    color: #BB86FC;
    font-weight: 400;
    text-transform: uppercase;
}

.modal-body {
    border-radius: 0;
    background-color: #1f1b24;
}

.modal-footer {
    background-color: #1f1b24;
    border-radius: 0;
}

.modal-header {
    border-radius: 0;
    background-color: #1f1b24;
    text-transform: uppercase;
}

.modal-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.close {
    box-shadow: none;
}

.modal-body label {
    font-size: 20px;
}

.modal-body .form-control {
    color: #fff;
}

@media (max-width: 800px) {
    .header {
        font-size: 30px;
    }
}