.header {
    font-size: 45px;
    width: 100%;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

.step-modal {
    height: 400px;
}

.tab-content {
    padding: 15px;
}

.nav-link {
    font-size: 30px;
    color: #BB86FC;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #BB86FC;
}

.modal-body {
    border-radius: 0;
    background-color: #121212;
}

.modal-footer {
    background-color: #121212;
    border-radius: 0;
}

.modal-header {
    border-radius: 0;
    background-color: #121212;
    text-transform: uppercase;
}

.modal-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.close:hover {
    .bi {
        color: #fff;
    }
}

.modal-body label {
    font-size: 20px;
}

.modal-body .form-control {
    color: #fff;
}

@media (max-width: 800px) {
    .header {
        font-size: 30px;
    }
}