.box {
    width: 100%;
    padding: 15px;
}

.detail-span {
    padding: 1px;
    font-size: 35px;
    font-weight: 500;
    width: 100%;
}

#detail-label {
    font-size: 25px;
    font-weight: 200;
    width: 100%;
    color: #000;
}

.card-text {
    font-size: 25px;
    font-weight: 200;
}

.grid-cards {
    padding: 15px;
    display: grid;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    gap: 20px;
}

.card {
    background-color: #1f1b24;
    border: 1px solid rgba(233, 233, 233, 0.555);
    border-radius: 10px;
    &:hover {
        cursor: pointer;
        #detail-span {
            text-decoration: underline;
        }
    }
}

@media (max-width: 1400px) {
    .grid-cards {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 400px) {
    .grid-cards {
        grid-template-columns: 100%;
    }
}