.box {
    width: 100%;
    padding: 15px;
}

.detail-span {
    padding: 1px;
    font-size: 35px;
    font-weight: 500;
    width: 100%;
}

#detail-label {
    font-size: 25px;
    font-weight: 200;
    width: 100%;
    color: #000;
}

.card-text {
    font-size: 25px;
    font-weight: 200;
}

.grid-cards {
    margin-top: 25px;
    padding: 15px;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 20px;
}

.content {
    width: 70%;
}

.count-tournaments {
    width: 100%;
    text-align: right;
}

.card {
    background-color: #1f1b24;
    border: 1px solid rgba(233, 233, 233, 0.555);
    border-radius: 10px;
    &:hover {
        .detail-span {
            cursor: pointer;
        }
        .create-by {
            cursor: pointer;
        }
    }
}

.torneo-card-full {
    .detail-span {
        color: rgb(208, 30, 54);
    }
    .text-purple {
        color: rgb(208, 30, 54);
    }
    .btn-info {
        color: rgb(208, 30, 54);
    }
    .posti-full {
        color: rgb(208, 30, 54);
    }
}

@media (max-width: 1400px) {
    .grid-cards {
        padding: 10px;
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 800px) {
    .content {
        width: 100%;
    }
    .contrast-button {
        width: auto;
    }
    .btn-card {
        width: 100%;
    }
    .grid-cards {
        grid-template-columns: 100%;
        padding: 5px;
    }
}