@media (min-width: 400px) {
  .box {
    .header {
      .title {
        font-size: 2.6rem;
        font-weight: 900;
      }
      .content {
        font-size: 1.5rem;
        margin-top: 1rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .box {
    .header {
      .title {
        font-size: 2.2rem;
        font-weight: 900;
      }
      .content {
        font-size: 1rem;
        margin-top: 1rem;
      }
    }
  }
}

.sub {
  border-bottom: 8px var(--accent) solid;
}

.primary-text {
  font-weight: 900;
  color: var(--accent);
}

.messages {
  position: relative;
  font-weight: 500;
  z-index: 2;
  font-size: 1rem;
}

.msg-error {
  color: red;
}
